

library/*


obj/*

temp/*


Assets/Atlas/*


Assets/Atlas.meta
Assets/Resources/*


Assets/Resources.meta
Assembly-CSharp.csproj

Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
client.sln
client.v11.suo