<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1233},{66,56}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{66,56}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1070},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1278},{58,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{58,46}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bell.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1104},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,700}}</string>
                <key>sourceSize</key>
                <string>{480,700}</string>
            </dict>
            <key>body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{420,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,68}}</string>
                <key>sourceSize</key>
                <string>{420,68}</string>
            </dict>
            <key>btn_1_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1005},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>btn_1_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1157},{68,69}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>btn_2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1038},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>btn_2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1165},{64,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>btn_3_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1064},{60,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>btn_3_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1176},{62,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{62,69}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>btn_4_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1100},{55,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>btn_4_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{55,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,68}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>btn_5_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1013},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>btn_5_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{55,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{55,68}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>btn_6_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1038},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>btn_6_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1227},{60,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>btn_7_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1038},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>btn_7_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1089},{66,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>btn_8_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,926},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>btn_8_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1106},{68,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>btn_add_down-blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{91,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,49}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>btn_add_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1038},{91,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,49}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>btn_add_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,489},{95,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>btn_big_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1241},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>btn_big_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1289},{59,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1247},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,534},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>btn_del_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1013},{91,49}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{91,49}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>btn_del_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,444},{95,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>btn_del_up_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,399},{95,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>btn_get_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,605},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,405},{180,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,56}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>btn_green_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,463},{180,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{180,54}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>btn_small_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1180},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>btn_small_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1240},{59,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>btn_start_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,303},{95,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,49}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>btn_start_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,354},{95,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1291},{50,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{50,50}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,145},{23,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{23,15}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,534},{29,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{29,15}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,584},{29,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{29,21}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,572},{33,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{33,31}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,484},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,529},{41,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>dmg.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{136,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{136,141}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>dsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,165},{180,147}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{180,147}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>dsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,519},{176,155}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{176,155}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,584},{91,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{91,62}}</string>
                <key>sourceSize</key>
                <string>{91,66}</string>
            </dict>
            <key>head.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,162},{420,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,21}}</string>
                <key>sourceSize</key>
                <string>{420,21}</string>
            </dict>
            <key>jlbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,926},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{168,85}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>k.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1180},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>lemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>load.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,534},{50,48}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{50,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>menu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1222},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>menu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1158},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>money_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1106},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1202},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>popup_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{440,660}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,660}}</string>
                <key>sourceSize</key>
                <string>{440,660}</string>
            </dict>
            <key>prize_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1146},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>prize_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1082},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ratio.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,584},{94,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,56}}</string>
                <key>sourceSize</key>
                <string>{94,56}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1157},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{420,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,40}}</string>
                <key>sourceSize</key>
                <string>{420,40}</string>
            </dict>
            <key>task.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,314},{180,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,89}}</string>
                <key>sourceSize</key>
                <string>{180,89}</string>
            </dict>
            <key>wmelon.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1126},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>xsx.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,687},{477,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,346}}</string>
                <key>sourceSize</key>
                <string>{477,346}</string>
            </dict>
            <key>xsy.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{180,161}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,161}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>zhsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,145},{156,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,30},{156,109}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameImg.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d56338ed5ed38471ff0fafea72152ca7$</string>
            <key>textureFileName</key>
            <string>gameImg.png</string>
        </dict>
    </dict>
</plist>
